* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$white: #fff;
$green-primary:#337A5B;
$green-secundary:#285A43;
$black:#000;
$black-secundary:#121212;

main {
    min-width: 100vw;
    min-height: 100vh;
}